@import './normalize.css';

body {
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #000;
  margin: 0;
}

body, html {
  height: 100%;
}

.main-title {
  margin: 15px 0;
  width: 80%;
  text-align: center;
}

.wrapper {
  height: 100%;
}

.container {
  min-height: 100%;
  max-width: 992px;
  width: 100%;
  margin: 0 auto;
  /* background-color: #F5F5F5; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
} 

.input-container {
  margin: 25px 0;
  width: 85%;
  /* min-height: 235px; */
  background-color: #DDEBF7;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
}

.input-container__label {
  width: 80%;
  padding-top: 15px;
  padding-left: 15px;
  font-size: 18px;
}

#input-container__input {
  width: 80%;
  height: 50px;
  border: none;
  border-radius: 35px;
  text-align: center;
  margin: 15px 0 15px 0;
  font-size: 24px;
  border: 1px solid black;
}

.input-container__input--good {
  background-color: #E2EFDA; 
}

.input-container__input--bad {
  background-color: #FCE4D6; 
}

.tech-info {
  width: 85%;
  background-color: #DDEBF7;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
}

.tech-info__title {
  width: 80%;
  margin-bottom: 0;
}

.tech-info__list {
  width: 80%;
  margin: 25px;
  font-size: 18px;
}

.author-info {
  flex: 1;
  display: flex;
  align-items: flex-end;
}

.author-info__link {
  text-decoration: underline;
  color: #6797A1;
}

.input-container__error {
  height: 22px;
  border-radius: 35px;
  padding: 5px 5px;
  margin: 15px 0 30px 0;
  visibility: hidden;
}

.input-container__error--true{
  border-radius: 35px;
  padding: 5px 5px;
  margin: 15px 0 30px 0;
  background-color: #FCE4D6; 
  animation: 0.15s linear 0.6s forwards delayedShow;
}

@keyframes delayedShow {
  0% {
    transform: translateX(0);
    visibility: visible;
  }
  25% {
    transform: translateX(7px);
    visibility: visible;
  }
  50% {
    transform: translateX(-7px);
    visibility: visible;
  }
  100% {
    transform: translateX(0);
    visibility: visible;
  }
}

